*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    margin: 0;
    font-family: 'TT Lakes';
}

button {
    border: 0;
    cursor: pointer;
}

a {
    color: #1B1C21;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 320px) {

    .swiper-header {
        padding: 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #7E7E82;
        font-weight: 400;
    }

    .swiper-wrapper{
    }

    .swiper-slide{
        background: #F2F2F2;
        height: 154px;
        width: 80% !important;
    }

    .swiper-pagination-bullet:nth-child(10),
    .swiper-pagination-bullet:nth-child(11){
        display: none;
    }

    .swiper-item{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 72px;
        width: 240px;
        margin: 16px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }

    .swiper-item-special{
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }

    .swiper-logo-special{

    }

    .swiper-logo{

    }
}

@media (min-width: 768px) {

}
